.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room {
  font-size: 10px;
}

.create-room a {
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.rooms{
  height: calc(100vh - 100px);
  width: 300px;
  background-color: #2F3E51;
  padding: 0 20px;
}

.room{
  padding: 20px 20px 40px 20px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

.chat-header{
  height: 100px;
  background-color: #ffffff;
  width: calc(100vw - 300px);
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header{
  padding: 36px 40px;
  font-size: 24px;
  color: #333;
  
}

.right-header{
  border: solid 1px darkred;
  padding: 20px;
  margin: 40px;
}

.header-button a{
  text-decoration: none;
  color: darkred;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}


.form{
  height: 90px;
  background-color: #DDDDDD;
  width: calc(100vw - 300px);
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

.form-input {
  background-color: white;
  width: calc(100vw - 395px);
  padding-left: 10px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
} 



.form-message{
  border: none;
  height: 50px;
  
}

.form-submit{
  border: none;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  color: white;
  background-color: #38AEF0;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
  
}

.hidden {
  display: none;
}